body{
color :white
margin  0px
font-family "Chakra Petch", sans-serif;
margin-bottom: 100px
}

header{
    border-bottom :solid 2px rgb (42, 122, 228);
    padding: 20px;
    font-size: 29px;
    color:aqua
}

section{
    background: #0d0bbd;
    padding-bottom:80px
    padding-top80px
    display flex
    justiy-content center
}

.chamada-texto{
    margin-right: 5%

}

h1{
    font-size:40px
}

p{
    font-size: 20px
}
 
.cetegoria{
    padding-left: 20px
    padding-right 20px
     margim-top 50px
}
.cetegoria-videos img {
opacity: 0.5
height 200px

}
.categoria-videos img hover{
    opacity: 1.0
    border 1px solid green;
    
}
.categoria h2{ 
    color: rgb(42, 122,288 )
}

img{
    height:200px
}
